<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row ml-1 mt-2">
			<h2>Follower</h2>
		</div>
		<%= render 'users/user_lists', users: @users %>
	</div>
</div>