<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>マイページ</h3>
			</div>
		</div>
			<%= render 'layouts/profile', user: @user %>
			<%= render 'work_outs/lists', work_outs: @work_outs %>
	</div>
</div>
