<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>会社情報</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div id="map"></div>
		</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js"></script>
