<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>会社概要</h3>
			</div>
		</div>
		<div class="row border-bottom" style="margin: 1.5rem 10rem;">
			<dl>
				<dt>会社名</dt>
				<dd style="margin-inline-start: 40px;"></dd>
			</dl>
		</div>
		<div class="row border-bottom" style="margin: 1.5rem 10rem;">
			<dl>
				<dt>代表者</dt>
				<dd style="margin-inline-start: 40px;"></dd>
			</dl>
		</div>
		<div class="row border-bottom" style="margin: 1.5rem 10rem;">
			<dl>
				<dt>所在地</dt>
				<dd style="margin-inline-start: 40px;"></dd>
			</dl>
		</div>
		<div class="row border-bottom" style="margin: 1.5rem 10rem;">
			<dl>
				<dt>連絡先</dt>
				<dd style="margin-inline-start: 40px;"></dd>
			</dl>
		</div>
		<div class="row mb-5" style="margin: 1.5rem 10rem;">
			<dl>
				<dt>事業内容</dt>
				<dd style="margin-inline-start: 40px;"></dd>
			</dl>
		</div>
		<div class="row justify-content-center mb-5">
			<div id="map"></div>
		</div>
	</div>
</div>

