<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class="row">
			<div class="col-auto ml-1 mt-2 admin-title">
				<h3>グラフ</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-4">
				<%#= link_to "", admins_graph_path(:pre_preview => @days), class: "fa fa-chevron-left" %>
			</div>
			<div class="col-4 text-right">
				<%#= link_to "", admins_graph_path(:next_preview => @days), class: "fa fa-chevron-right" %>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<%= high_chart('my-first-chart', @chart) %>
			</div>
		</div>
	</div>
</div>