<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class="row">
			<div class="col-auto ml-1 mt-2 admin-title">
				<h3>ランキング</h3>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				<table class="table">
		            <thead style="background-color: #f5f5f5;">
		            	<th>順位</th>
		            	<th>名前</th>
		            	<th>合計(分)</th>
		            </thead>
		            <% last_total_time = 0 %>
		            <% j = 1 %>
					<% @ranks.each.with_index(1) do |rank, i| %>
						<tbody>
							<td>
								<% if i == 1 %>
									<% last_total_time = rank.work_outs.sum(:time) %>
								<% end %>
								<% if rank.work_outs.sum(:time) != last_total_time %>
									<% j = i %>
									<% last_total_time = rank.work_outs.sum(:time) %>
								<% else %>
									<% last_total_time = rank.work_outs.sum(:time) %>
								<% end %>
								<% if j == 1 %>
									<i class="fas fa-crown crown-gold"></i>
								<% elsif j == 2 %>
									<i class="fas fa-crown crown-silver"></i>
								<% elsif j == 3 %>
									<i class="fas fa-crown crown-bronze"></i>
								<% else %>
									第<%= j %>位
								<% end %>
							</td>
							<td><%= rank.name %></td>
							<td><%= rank.work_outs.sum(:time) %></td>
						</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
