<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row ml-1 mt-2">
			<h2>Friend's Work Out</h2>
		</div>
		<%= render 'work_outs/lists', work_outs: @work_outs %>
	</div>
</div>