<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row">
			<div class="col-auto ml-1 mt-2 page-title">
				<h3>検索結果</h3>
			</div>
		</div>
		<% if @work_outs.exists? %>
			<%= render 'work_outs/lists', work_outs: @work_outs %>
		<% else %>
			<div class= "row justify-content-center my-3">
				該当する投稿はありません
			</div>
		<% end %>
	</div>
</div>