<% if model.errors.any? %>
	<div class="col mt-1">
		<div class="alert alert-danger alert-dismissible fade show">
			<ul>
				<% model.errors.full_messages.each do |message| %>
					<li style="margin-bottom: -1rem"><%= message %></li>
				<% end %>
			</ul>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
	    </div>
	</div>
<% end %>
