<!--======== Header ========-->
<header>
  <div class="wrap">
      <div class= "container-fluid no-gutters">
        <% if admin_signed_in? %>
          <%= render 'layouts/admin_header' %>
        <% else %>
          <%= render 'layouts/user_header' %>
        <% end %>
      </div>
  </div>
</header>
